<h1 class="text-center mt-3">Page d'article pour <br>{{ad.title}}</h1>
<div class="d-flex justify-content-center mt-5">
<div class="card rounded-lg" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title text-center">{{ad.title}}</h3>
    <h5 class="card-text text-center">{{ad.author}}</h5>
    <h6 class="card-text text-center">{{ad.creationDate}}</h6>
    <p class="card-text text-center">{{ad.description}}</p>
    <p class="card-text text-center font-weight-bold">{{ad.price}}</p>
    <div class="d-flex justify-content-center">
    <a
      routerLink="/"
      class="btn btn-outline-info">Retour a la liste</a>
    </div>
  </div>
</div>
</div>
